<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>pfm</title>
    <link href='//fonts.googleapis.com/css?family=Roboto:400,300,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/app.css?2" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" />api.pfm.localh
    <script src="/bower_components/modernizr/modernizr.js"></script>
</head>
<body>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-59410947-1', 'auto');
    ga('send', 'pageview');

</script>

<div class="row centered collapse" style="max-width: 100%;">
    <div class="small-11 medium-10 large-5 small-centered columns">

        <div class="row collapse" style="margin-bottom: 5px">
            <div class="small-6 columns">
                <span style="color:#333; font-size: 14pt; font-weight: 900;">PFM</span> <span style="font-size: 8pt; color: red;">beta</span>
            </div>


            <div class="small-6 columns text-right">
                <?php if (isset($user)) { ?>
                    <a href="/oauth2/profile"><h6 style="display: inline; color:#777"><i class="fa fa-user"></i> <?php echo is_array($user)?$user['nick']:$user->nick; ?></h6></a> <a href="/oauth2/logout?csrf=<?php echo $logoutForm->getCsrf(); ?>" title="<?php echo $t->_('LOGOUT') ?>"><i class="fa fa-sign-out"></i></a>
                <?php } ?>
            </div>
        </div>


        <div class="row" style="background: #fff" >
            <div class="columns" style="padding: 10px 20px 0px">

                <?php if (isset($errorMsg)) {?>
                    <div style="margin-top: 10px;" data-alert class="alert-box alert radius">
                        <i class="fa fa-exclamation-circle"></i> <?php echo nl2br($errorMsg); ?>
                        <a href="#" class="close">&times;</a>
                    </div>
                <?php } ?>
                <?php if (isset($successMsg)) { ?>
                    <div style="margin-top: 10px;" data-alert class="alert-box success radius">
                        <i class="fa fa-exclamation-circle"></i> <?php echo nl2br($successMsg); ?>
                        <a href="#" class="close">&times;</a>
                    </div>
                <?php } ?>
