@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

* { font-size: 11pt; }
p { font-size: 11pt; }
hr { border-color:#eee; }
body { padding: 40px 0px; }

*::-webkit-input-placeholder {
  color: #777;
}
*:-moz-placeholder {
  /* FF 4-18 */
  color: #777;
}
*::-moz-placeholder {
  /* FF 19+ */
  color: #777;
}
*:-ms-input-placeholder {
  /* IE 10+ */
  color: #777;
}

.input_w_ico {
  position: relative;
  margin: 15px 0px;
}
.input_w_ico > .ico { position: absolute; width: 40px; }
.input_w_ico > .inp { position: relative; top: 0px; padding-left: 40px; width: 100%; }