<?php $this->partial("shared/header") ?>

<h5><?php echo $t->_('AUTHORIZE') ?></h5>
<?php if (!$auto_approve) { ?>
    <span style="color:#666;"><?php echo $t->_("GRANT_CLIENT_ACCESS", array("username" => '<span style="color:#333;">'.$this->auth->getNick().'</span>', "client" => '<span style="color:#333;">'.$authParams['client_details']['name'].'</span>')); ?></span>

    <hr />

    <style>
        .scopes li {
            list-style: none;
            padding: 10px;
            background:#eee;
            color:#222;
        }
        .scopes li:nth-child(even) { background:#f4f4f4; }
    </style>
    <ul class="scopes">
        <?php foreach ($authParams['scopes'] as $scope): ?>
            <li>
                <?php echo $scope['name'] ?><span style="color:#aaa">: <?php echo $scope['description'] ?></span>
            </li>
        <?php endforeach; ?>
    </ul>

    <hr />

    <p class="left"><a style="margin: 0px" href="/oauth2/authorize?csrf=<?php echo $form->getCsrf(); ?>&authorization=deny" class="button alert small"><i class="fa fa-times"></i> <?php echo $t->_('DENY'); ?></a></p>
    <p class="right"><a style="margin: 0px" href="/oauth2/authorize?csrf=<?php echo $form->getCsrf(); ?>&authorization=approve" class="button success small"><i class="fa fa-check"></i> <?php echo $t->_('APPROVE'); ?></a></p>

<?php } else { ?>
    <span style="color:#666;"><?php echo $t->_("GRANT_CLIENT_ACCESS_AP", array("username" => '<span style="color:#333;">'.$this->auth->getNick().'</span>', "client" => '<span style="color:#333;">'.$authParams['client_details']['name'].'</span>')); ?></span>

    <hr />
    <p><a href="/oauth2/authorize?csrf=<?php echo $form->getCsrf(); ?>&continue=true" class="button success tiny"><i class="fa fa-check"></i> <?php echo $t->_('CONTINUE'); ?></a></p>

<?php } ?>

<?php $this->partial("shared/footer") ?>