<?php $this->partial("shared/header") ?>

<h5><?php echo $t->_('CHANGE_EMAIL'); ?></h5>
<?php if (!isset($successMsg)) { ?>

    <p style="color:#888;"><?php echo $t->_('CHANGE_EMAIL_FORM_INFO') ?></p>

    <form method="post">
        <?php echo $form->render('csrf', array('value' => $form->getCsrf())); ?>
        <div class="input_w_ico">
            <div class="ico">
                <span class="prefix"><i class="fa fa-unlock-alt"></i></span>
            </div>
            <div class="inp">
                <?php echo $form->niceRender('currentPassword', array("placeholder" => $t->_('CURRENT_PASSWORD')), false); ?>
            </div>
        </div>

        <div class="input_w_ico">
            <div class="ico">
                <span class="prefix"><i class="fa fa-at"></i></span>
            </div>
            <div class="inp">
                <?php echo $form->niceRender('email', array("placeholder" => $t->_('NEW_EMAIL')), false); ?>
            </div>
        </div>

        <input type="submit" value="<?php echo $t->_('DO_CHANGE_EMAIL'); ?>" class="button small" />
        <p class="right"><a style="margin: 0px;" class="small button alert" href="/oauth2/profile"><i class="fa fa-times"></i> Cancelar</a></p>

    </form>

<?php } ?>

<?php $this->partial("shared/footer") ?>