<?php $this->partial("shared/header") ?>

<h5><?php echo $t->_('CHANGE_PASSWORD'); ?></h5>
<?php if (!isset($successMsg)) { ?>

    <form method="post">
        <?php echo $form->render('csrf', array('value' => $form->getCsrf())); ?>
        <div class="input_w_ico">
            <div class="ico">
                <span class="prefix"><i class="fa fa-unlock-alt"></i></span>
            </div>
            <div class="inp">
                <?php echo $form->niceRender('currentPassword', array("placeholder" => $t->_('CURRENT_PASSWORD')), false); ?>
            </div>
        </div>

        <div class="input_w_ico">
            <div class="ico">
                <span class="prefix"><i class="fa fa-unlock-alt"></i></span>
            </div>
            <div class="inp">
                <?php echo $form->niceRender('password', array("placeholder" => $t->_('NEW_PASSWORD')), false); ?>
            </div>
        </div>

        <div class="input_w_ico">
            <div class="ico">
                <span class="prefix"><i class="fa fa-unlock-alt"></i></span>
            </div>
            <div class="inp">
                <?php echo $form->niceRender('confirmPassword', array("placeholder" => $t->_('CONFIRM_NEW_PASSWORD')), false); ?>
            </div>
        </div>

        <input type="submit" value="<?php echo $t->_('DO_CHANGE_PASSWORD'); ?>" class="button small" />
        <p class="right"><a style="margin: 0px;" class="small button alert" href="/oauth2/profile"><i class="fa fa-times"></i> Cancelar</a></p>

    </form>

<?php } ?>

<?php $this->partial("shared/footer") ?>