<?php $this->partial("shared/header") ?>

        <?php if (!isset($errorMsg)) { ?>
                <?php if ($valid_code) { ?>
                    <?php if (!$already_confirmed) { ?>
                        <div data-alert class="alert-box success radius" style="margin-top: 10px">
                            <i class="fa fa-exclamation-circle"></i> <?php echo $t->_('EMAIL_VERIFIED_SUCCESSFULLY'); ?>
                        </div>
                    <?php } else { ?>
                        <div data-alert class="alert-box warning radius" style="margin-top: 10px">
                            <i class="fa fa-exclamation-circle"></i> <?php echo $t->_('EMAIL_VERIFIED_SUCCESSFULLY_AGAIN'); ?>
                        </div>
                    <?php } ?>
                <?php } else { ?>
                    <div data-alert class="alert-box alert radius" style="margin-top: 10px">
                        <i class="fa fa-exclamation-circle"></i> <?php echo $t->_('INVALID_CONFIRMATION_EMAIL_CODE'); ?>
                    </div>
                <?php } ?>
        <?php } ?>

<?php $this->partial("shared/footer") ?>