<?php $this->partial("shared/header") ?>

<h5><?php echo $t->_('EDIT_PROFILE') ?></h5>

<p style="color:#666">
    <a href="/oauth2/profile/password"><?php echo $t->_('CHANGE_PASSWORD'); ?></a>
    <br /><a href="/oauth2/profile/email"><?php echo $t->_('CHANGE_EMAIL'); ?></a> (<span style="color:#aaa"><?php echo $user->email; ?></span>)
</p>
<hr />
<p style="color:#666">
    <?php echo $t->_('CREATED_AT'); ?>: <span style="color:#aaa"><?php echo $user->creation; ?></span>
    <br /><?php echo $t->_('UNIQUE_ID'); ?>: <span style="color:#aaa">#<?php echo $user->id; ?></span>
</p>


<?php $this->partial("shared/footer") ?>
