<?php $this->partial("shared/header") ?>

<h5><?php echo $t->_('FORGOT_PASSWORD') ?></h5>
<?php if (!isset($success)) { ?>
    <form method="post">
        <?php echo $form->render('csrf', array('value' => $form->getCsrf())); ?>

        <div class="input_w_ico">
            <div class="ico">
                <span class="prefix"><i class="fa fa-at"></i></span>
            </div>
            <div class="inp">
                <?php echo $form->niceRender('email', array("placeholder" => $t->_('EMAIL')), false); ?>
            </div>
        </div>

        <input type="submit" value="<?php echo $t->_('DO_SEND_RESET_PASSWORD'); ?>" class="button small" />
        <p class="right"><a style="margin: 0px;" class="small button alert" href="/oauth2/signin"><i class="fa fa-times"></i> Cancelar</a></p>

    </form>
<?php } else { ?>
    <div data-alert class="alert-box success radius">
        <i class="fa fa-info-circle"></i> <?php echo $t->_('SENT_RESET_PASSWORD_SUCCESSFULLY', array("email" => $this->request->get('email'))); ?>
    </div>
    <a class="small button" href="/oauth2/signin">Volver atrás</a>
<?php } ?>

<?php $this->partial("shared/footer") ?>