<?php $this->partial("shared/header") ?>

        <?php if (!$valid_code) { ?>

            <div data-alert class="alert-box alert radius" style="margin-top: 10px">
                <i class="fa fa-exclamation-circle"></i> <?php echo $t->_('INVALID_RESET_PASSWORD_CODE'); ?>
            </div>

        <?php } else { ?>
            <?php if ($success) { ?>

                <div data-alert class="alert-box success radius" style="margin-top: 10px">
                    <i class="fa fa-info-circle"></i> <?php echo $t->_('PASSWORD_SUCCESSFULLY_CHANGED'); ?>
                </div>

            <?php } else { ?>
                <?php if ($already_changed) { ?>

                    <div data-alert class="alert-box alert radius" style="margin-top: 10px">
                        <i class="fa fa-exclamation-circle"></i> <?php echo $t->_('ALREADY_USED_RESET_PASSWORD_CODE'); ?>
                    </div>

                <?php } else { ?>

                    <form method="post">
                        <?php echo $form->render('csrf', array('value' => $form->getCsrf())); ?>
                        <div class="input_w_ico">
                            <div class="ico">
                                <span class="prefix"><i class="fa fa-unlock-alt"></i></span>
                            </div>
                            <div class="inp">
                                <?php echo $form->niceRender('password', array("placeholder" => $t->_('PASSWORD')), false); ?>
                            </div>
                        </div>

                        <div class="input_w_ico">
                            <div class="ico">
                                <span class="prefix"><i class="fa fa-unlock-alt"></i></span>
                            </div>
                            <div class="inp">
                                <?php echo $form->niceRender('confirmPassword', array("placeholder" => $t->_('CONFIRM_PASSWORD')), false); ?>
                            </div>
                        </div>

                        <input type="submit" value="<?php echo $t->_('DO_CHANGE_PASSWORD'); ?>" class="button small" />
                    </form>

                <?php } ?>
            <?php } ?>
        <?php } ?>

<?php $this->partial("shared/footer") ?>