<?php $this->partial("shared/header") ?>

<h5><?php echo $t->_('SIGNUP') ?></h5>
<form method="post">
    <?php echo $form->render('csrf', array('value' => $form->getCsrf())); ?>
    <?php if (!isset($success) or !$success) { ?>

        <div class="input_w_ico">
            <div class="ico">
                <span class="prefix"><i class="fa fa-user"></i></span>
            </div>
            <div class="inp">
                <?php echo $form->niceRender('nick', array("placeholder" => $t->_('NICK')), false); ?>
            </div>
        </div>

        <div class="input_w_ico">
            <div class="ico">
                <span class="prefix"><i class="fa fa-at"></i></span>
            </div>
            <div class="inp">
                <?php echo $form->niceRender('email', array("placeholder" => $t->_('EMAIL')), false); ?>
            </div>
        </div>

        <div class="input_w_ico">
            <div class="ico">
                <span class="prefix"><i class="fa fa-unlock-alt"></i></span>
            </div>
            <div class="inp">
                <?php echo $form->niceRender('password', array("placeholder" => $t->_('PASSWORD')), false); ?>
            </div>
        </div>

        <div class="input_w_ico">
            <div class="ico">
                <span class="prefix"><i class="fa fa-unlock-alt"></i></span>
            </div>
            <div class="inp">
                <?php echo $form->niceRender('confirmPassword', array("placeholder" => $t->_('CONFIRM_PASSWORD')), false); ?>
            </div>
        </div>

        <div class="remember">
            <?php echo $form->niceRender('terms', false, $t->_('ACCEPT_TERMS', array("url" => '#'))); ?>
        </div>

        <input type="submit" value="<?php echo $t->_('DO_SIGNUP') ?>" class="button small" />
        <p class="right"><a style="margin: 0px;" class="small button alert" href="/oauth2/signin"><i class="fa fa-times"></i> Cancelar</a></p>

    <?php } else { ?>
        <div data-alert class="alert-box success radius">
            <i class="fa fa-info-circle"></i> <?php echo $t->_('ACCOUNT_CREATED_SUCCESSFULLY'); ?>
        </div>
        <a class="small button" href="/oauth2/signin">Volver atrás</a>
    <?php } ?>
</form>

<?php $this->partial("shared/footer") ?>
