<?php $this->partial("shared/header") ?>

<h5><?php echo $t->_('SIGNIN') ?></h5>
<form method="post">
    <?php echo $form->render('csrf', array('value' => $form->getCsrf())); ?>

    <div class="input_w_ico">
        <div class="ico">
            <span class="prefix"><i class="fa fa-at"></i></span>
        </div>
        <div class="inp">
            <?php echo $form->niceRender('email', array("placeholder" => $t->_('EMAIL')), false); ?>
        </div>
    </div>

    <div class="input_w_ico">
        <div class="ico">
            <span class="prefix"><i class="fa fa-unlock-alt"></i></span>
        </div>
        <div class="inp">
            <?php echo $form->niceRender('password', array("placeholder" => $t->_('PASSWORD')), false); ?>
        </div>
    </div>

    <div class="remember right">
        <?php echo $form->niceRender('remember', FALSE, $t->_('REMEMBER_ME')); ?>
    </div>

    <input type="submit" value="<?php echo $t->_('DO_LOGIN') ?>" class="button small" />

    <p>
        <a href="/oauth2/signup"><i class="fa fa-user-plus"></i> ¿No tienes una cuenta? Regístrate</a>
        <br /><a href="/oauth2/forgot-password"><i class="fa fa-refresh"></i> ¿Has olvidado tu contraseña?</a>
    </p>
</form>

<?php $this->partial("shared/footer") ?>
