

<tbody>
<tr>
    <td style="">
        <p style="color:#000;font-size: 16px;line-height:24px;font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:normal;">

        <h2 style="font-size: 14px;font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Arial,sans-serif;">Verificación de email</h2>

        <p style="font-size: 13px;line-height:24px;font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Arial,sans-serif;">Alguien ha utilizado tu cuenta de correo en el servicio de API REST de PFM. Hasta que no la verifiques (haciendo click en el botón de más abajo) no se podrá utilizar.

            <br>
            <br>
            <a style="background:#222;color:#fff;padding:10px" href="http://<?php echo $publicUrl . $confirmUrl; ?>">Confirmar email</a>
        </p>
    </td>
</tr>
</tbody>