

<tbody>
<tr>
    <td style="">
        <p style="color:#000;font-size: 16px;line-height:24px;font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:normal;">

        <h2 style="font-size: 14px;font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Arial,sans-serif;">Reiniciar tu clave de acceso</h2>

        <p style="font-size: 13px;line-height:24px;font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Arial,sans-serif;">Para reiniciar la clave de tu cuenta del servicio API REST del PFM haz click el botón que hay debajo. Si tu no has solicitado nada, simplemente ignora este email.

            <br>
            <br>
            <a style="background:#444;color:#fff;padding:10px" href="http://<?php echo $publicUrl . $resetUrl; ?>">Reiniciar mi clave</a>
        </p>
    </td>
</tr>
</tbody>

